<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cotecna.Voc.FileAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/FileModel.csdl|res://*/FileModel.ssdl|res://*/FileModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UIOSQLDEV02;initial catalog=VocIraq;integrated security=True;user id=AppVoc;password=111111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Cotecna.Voc.FileAccess.Properties.Settings>
      <setting name="SourcePath" serializeAs="String">
        <value>\\uiowebqa03\DEVELOPER\FileStorage\</value>
      </setting>
      <setting name="TargetPath" serializeAs="String">
        <value>\\uiowebqa03\DEVELOPER\DMZFileStorage\</value>
      </setting>
    </Cotecna.Voc.FileAccess.Properties.Settings>
  </applicationSettings>
</configuration>