<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="13.5.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.ExceptionHandling.Logging" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Logging" version="5.0.505.1" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="LinqKit" version="1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.OAuth" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.20710.0" targetFramework="net45" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net45" />
</packages>