<div id="disclaimer" title="">
                <div id="ContentPopUp" style="width:580px;">
                    <div class="legend">
                        Disclaimer / إخلاء مسؤولية
                    </div>
                    <p style="margin-bottom:0px;">Please read the terms & conditions of VoC</p>
                    <ol style="height:320px; width:580px; overflow-y:auto;">
                        <li style="padding:5px;">
                            <label>
                                <br />
By accessing and using this platform you accept that its content is subject to the terms and conditions of the Contract of Implementation of Pre-Inspection, Testing and Issuing Certificates of Conformity program of Goods Imported into Iraq (ICIGI) and acknowledge the confidential nature of the information hereby contained agreeing to protect it from disclosure.<br /><br />
Copyright © 2013 COTECNA<br /><br />
All rights reserved.<br />
<br />
                                <br />
                               <br />
                            </label>
                        </li>
                        <li style="padding:5px; text-align:right; ">
                            <label>
                                
بمجرد ولوجكم المنصّة واستعمالها سوف تقبلون أحكام وشروط عقد تطبيق برنامج المراقبة قبل الشحن والفحص وإصدار شهادات المطابقة للسلع المستوردة إلى العراق (ICIG) وسوف تعترفون بالطبيعة السرية للمعلومات الواردة بموجب هذا حيث توافقون على حمايتها من الإفشاء.<br />
                                <br />
حقوق الطبع والنشر© 2013 كوتيكنا<br /><br />
جميع الحقوق محفوظة<br />

                            </label>
                        </li>
                    </ol>
                    <br />
                    <input type="checkbox" onchange="chkDisclaimerChange(this.checked);" id="chkDisclaimer" />
                    <span>I'm agree with the terms & conditions</span>
                    <p class="btn">
                        <span class="btn" id="spanAgreeButton">
                            <input type="button" value="Continue" id="agreeButton" />
                        </span>
                        <span class="btn2">
                            <input type="button" value="Exit" id="desagreeButton" />
                        </span>
                    </p>
                </div>
            </div>