<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=uiosqldev02;initial catalog=VocIraq;persist security info=True;user id=AppVoc;password=111111;" providerName="System.Data.SqlClient" />
    <add name="VocEntities" connectionString="metadata=res://*/VocModel.csdl|res://*/VocModel.ssdl|res://*/VocModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uiosqldev02;initial catalog=VocIraq;persist security info=True;user id=AppVoc;password=111111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>